html(lang="en")
    head

        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title= title
    body
        section
            h1 Обо мне великом
            img(src="https://lotro-wiki.com/images/c/c4/Mammoth.jpg", alt="")
            p Имя: #{name}
            p Возраст: #{age}
            p Род занятий: #{rod_zanyatiy}
            p Хобби: #{hobby}
        section 
            h2 Мои интересы
            ul 
            li Поспать
            li Поспать
            li 1С-сомнительно но окей...
        section 
            h2 Ссылки на соц.сети
            a(href="https://vk.com/") VK<br/>
            a(href="") популярити<br/>
            a(href="https://web.telegram.org/a/") Telegram <br/>
            